.page-header
  h1 New room

- form_for(room, {action: path_to.admin_rooms(), method: 'POST', id: "room_form"}, function (form) {
  != partial('rooms/form.jade', {locals: {form: form, room: room}})
  .actions
    != form.submit('Create room', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.admin_rooms(), {class: 'btn'})
- });
