.page-header
  h1 New game

- form_for(game, {action: path_to.admin_games(), method: 'POST', id: "game_form"}, function (form) {
  != partial('games/form.jade', {locals: {form: form, game: game}})
  .actions
    != form.submit('Create game', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.admin_games(), {class: 'btn'})
- });
