!= errorMessagesFor(user)
.control-group
  label.control-label(for='inputUserName')
    |Name
    i.icon-ok
  .controls
    input#inputUserName(value=user.name,name='User[name]',type='text',placeholder='User Name')
- if(formtype=="new"){
  .control-group
    label.control-label(for='inputUserPassword')
      |Password
      i.icon-ok
    .controls
      input#inputUserPassword(value=user.password,name='User[password]',type='password', placeholder='Password')
- }
.control-group
  label.control-label(for='image') Image
  .controls
    != form.input('new_image', {id: 'image',type: 'file'})
.control-group
  label.control-label(for='inputUserType') User Type
  .controls
    select#inputUserType(name='User[type]')
      - for(var i=1; i<3; i++){
        option(value=i)= displayUserType(i)
      - }
.control-group
  label.control-label(for='User_profile') Profile
  .controls
    != form.textarea('profile')

!= form.input("image",{type:'hidden', value:user.image})
