legend Sign Up

- form_for(user, {action: path_to.users(), method: 'POST', id: "user_form",class:'form-horizontal', enctype: "multipart/form-data"}, function (form) {
  != partial('users/form.jade', {locals: {form: form, user: user}})
  .form-actions
    != form.submit('Create user', {class: 'btn btn-success'})
- });
