!= errorMessagesFor(game)
.control-group
  label.control-label(for="inputGameTitle")
    |Title
    i.icon-ok
  .controls
    input#inputGameTitle(name='Game[title]',type='text', placeholder='Title')
.control-group
  label.control-label(for="inputGameType") Type
  .controls
    select#inputGameType(name='Game[type]')
      - for(var i=1; i<5; i++){
        option(value=i)= displayType(i)
      - }
.control-group
  label.control-label(for='inputGameMode') Mode
  .controls
    select#inputGameMode(name='Game[mode]')
      - for(var i=1; i<4; i++){
        option(value=i)= displayMode(i)
      - }
.input
  != form.input("ownerId",{type:"hidden"})
.input
  != form.input("ownerName",{type:"hidden"})
