.input
  != form.input("ownerId",{type:"hidden"})
.input
  != form.input("ownerName",{type:"hidden"})
.clearfix
  != form.label("title")
  .input
    != form.input("title")
.clearfix
  != form.label("type")
  .input
    != form.input("type")
