.clearfix
  != form.label("ownerId")
  .input
    != form.input("ownerId")
.clearfix
  != form.label("ownerName")
  .input
    != form.input("ownerName")
.clearfix
  != form.label("title")
  .input
    != form.input("title")
.clearfix
  != form.label("type")
  .input
    != form.input("type")
.clearfix
  != form.label("createdAt")
  .input
    != form.input("createdAt")
