.page-header
  h1 Edit game

- form_for(game, {action: path_to.game(game), method: 'PUT', id: "game_form"}, function (form) {
  != partial('games/form.jade', {locals: {form: form, game: game}})
  .actions
    != form.submit('Update game', {class: 'btn primary'})
    span= ' or '
    != link_to('Cancel', path_to.game(game), {class: 'btn'})
- });
