legend New game

- form_for(game, {action: path_to.games(), method: 'POST', id: "game_form", class:'form-horizontal'}, function (form) {
  != partial('games/form.jade', {locals: {form: form, game: game}})
  .form-actions
    != form.submit('Create game', {class: 'btn btn-success'})
    span= ' or '
    != link_to('Cancel', path_to.games(), {class: 'btn'})
- });
