script(type='text/javascript',src='/socket.io/socket.io.js')
- if (game.type == Game.type.invader) {
  != javascript_include_tag('arctic','invader','game-transceiver')
- } else {
  != javascript_include_tag('arctic','halloween','halloween-transceiver')
- }
canvas#canvas
