- if (game.type == Game.type.invader) {
  != javascript_include_tag('arctic','invader','game-transceiver')
- } else {
  != javascript_include_tag('arctic','halloween','game-transceiver')
- }
canvas#canvas
