.page-header
  h1 Edit room

- form_for(room, {action: path_to.room(room), method: 'PUT', id: "room_form"}, function (form) {
  != partial('rooms/form.jade', {locals: {form: form, room: room}})
  .actions
    != form.submit('Update room', {class: 'btn primary'})
    span= ' or '
    != link_to('Cancel', path_to.room(room), {class: 'btn'})
- });
