.clearfix
  != form.label("name")
  .input
    != form.input("name")
.clearfix
  != form.label("password")
  .input
    != form.input("password")
.clearfix
  != form.label("image")
  .input
    //input(type='file',name='User[image]')
    != form.input('image', {type: 'file'})
.clearfix
  != form.label("type")
  select(name='User[type]')
    - for(var i=1; i<3; i++){
      option(value=i)= displayUserType(i)
    - }
