!!! 5
html
  head
    title= title
    != stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive')
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'jquery.cookie','application')
    != csrf_meta_tag()
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href="/") TechStuDIG
          .nav-collapse.collapse
            ul.nav
              - if (current_user) {
                li
                  != link_to("Chat Rooms",path_to.rooms() )
                li
                  != link_to("Create Chat Room",path_to.new_room())
                li
                  != link_to("Logout",'/logout')
              -}else {
                li
                  != link_to("Login",path_to.new_session())
                li
                  != link_to("Sign Up",path_to.new_user())
              - }
    .container
      - var flash = request.flash('info').pop(); if (flash) {
        .alert.alert-success
          a.close(data-dismiss="alert") x
          = flash
      - }

      - flash = request.flash('error').pop(); if (flash) {
        .alert.alert-error
          a.close(data-dismiss="alert") x
          = flash
      - }

      != body

      hr
      footer
        p &copy; TechStudig 2012
