!!! 5
html
  head
    title ROOM desu!
    != stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive')
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application')
    != csrf_meta_tag()
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript')
      var host = location.href;
      var socket = io.connect("127.0.0.1:3000");

      //At connecting server
      socket.on('connect', function(msg){
        $('#connectId').html("あなたの接続番号"+socket.socket.transport.sessid);
      });

      //At receiving message
      socket.on('message', function(msg){
        console.log(msg.value);
        $("#receiveMsg").append(msg.value+"<br />");
      });

      //At sending message
      function sendMsg(){
        var msg = $('#message').val();
        socket.emit('message', {value:msg});
      }

      //At disconnecting 
      function disConnect(){
        var msg = socket.socket.transport.sessid + 'は切断しました';
        socket.emit('message', { value: msg});
        socket.disconnect();
      }
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href="/") TechStuDIG
          .nav-collapse.collapse
            ul.nav
              - if (current_user) {
                li
                  != link_to("Posts",path_to.posts() )
                li
                  != link_to("Logout",'/logout')
              -}else {
                li
                  != link_to("Login",path_to.new_session())
              - }
    .container
      - var flash = request.flash('info').pop(); if (flash) {
        .alert.alert-success
          a.close(data-dismiss="alert") x
          = flash
      - }

      - flash = request.flash('error').pop(); if (flash) {
        .alert.alert-error
          a.close(data-dismiss="alert") x
          = flash
      - }

      != body

      hr
      footer
        p &copy; TechStudig 2012
