!!! 5
html
  head
    title= 'Controller user:' + title
    != stylesheet_link_tag('http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
    != stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive')
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application')
    != csrf_meta_tag()
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href="/") Project Name
    .container
      - var flash = request.flash('info').pop(); if (flash) {
        .alert-message.info
          a.close(data-dismiss="alert") x
          = flash
      - }

      - flash = request.flash('error').pop(); if (flash) {
        .alert-message.error
          a.close(data-dismiss="alert") x
          = flash
      - }

      != body

  != javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'application')
